* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}

html,body {
	
}


header {
	width: 100%;
	
	background: black;
	position: fixed;
	height: 70px;
	justify-content: center;



}

header img {
	position: absolute;
	top:-60px;
	left: -20px;

}

.navigation {
	margin-top: 25px;
	list-style-type: none;
	text-align: center;
	margin-right: 500px;
	display: block;
}

.navigation li {
	display: inline;

}
.navigation li a{


	color: #fff;
	text-decoration: none;
	padding-left: 50px;
	font-size: 16px;
	font-weight: bold;
	padding: 27px 20px;


}





.navigation a:hover {
	background: #9F9F9F;
}



.signin {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #686363;
	border-right: none;
	border-radius: 5px 0px 0px 5px;
	background: #353434;
	height: 40px;
	width: 200px;
	font-weight: bold;
	position: relative;
	align-items: center;
	top: -30px;
	float: right;
	cursor: pointer;
}

.signin:hover {
	background: #686363;
}

.subnews {
	position: absolute;
z-index: 12412;
	background: #1A0B2C;
	padding:10px;
	left: 10%;

}
.subnews a {

	text-decoration: none;
	color: white;
	font-weight: bold;
	padding-right: 60px;
}




.back-main {
	position: absolute;
	top: 70px;
	background-image: url("../img/background.png");
		background-color: rgba(0,0,0,.7);
	background-repeat: repeat;
	background-position: center;
	width: 100%;
	mix-blend-mode: exclusion;
	height: 100vh;

}

.main {
	margin:10% 25% 0 25%;
}

.main h1,h2,h2{
	color: #fff;
	font-weight: normal;
	margin-bottom: 50px;

}


.main h2:nth-child(3){

	margin-bottom: 20px;

}

.main h1{
font-size: 36px;
	font-weight: bold;
	margin-bottom: 50px;

}

.block-sites {
	display: flex;
	flex-direction: row;
}
.block-sites img {
	width: 45px;
	height: 45px;
	margin-right: 10px;
	justify-content: space-between;
}

/*подвал сайта*/

footer {
bottom: 0;
	position: fixed;

	width: 100%;
	height: 120px;
	color: #fff;

}

.content-footer {
	display: flex;
	flex-direction: row;
	margin:0% 25% 0 25%;
	justify-content: space-between;
}

.copyright {
	margin-top: 50px;

	
}

.nav-footer {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.nav-footer a{
	margin-top: 5px;
	color: white;
	text-decoration: none;
}

.contact-footer{
	margin-top: auto;

}
	
	
	


}
.social-network-footer {

	margin-top: 5px;
}

.icon-social-network {
	margin-top: 10px;
}


/* страница контактов*/

.container-contacts {
	display: flex;
	flex-direction: column;
text-align: center;
	color: white;
	margin: auto;
	margin-top: 10%;

}
.container-contacts h1{
	margin-bottom: 80px;
	font-size: 2.5em;
}


/* Модальное окно авторизации*/


#overlay-modal-signin {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);


}

.modal-signin {
	z-index: 124124;
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	width:  436px;
	height: 512px;
	background: #272727;
	margin-left: -218px;
	margin-top: -256px;
	color: white;
	border-radius: 5px;
}

.modal-signin form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-left: 70px;
	padding-right: 70px;

}
.modal-signin form .inputs-signin{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	

}

.modal-signin h1{
	text-align: center;
	
}

.modal-signin form .forgot-password{
	text-align: center;
	color: #2F631D;
	margin-bottom: 40px;
	padding-top: 5px;
}

.modal-signin form label{
	font-size:1.4em;
	padding-top:25px;
	padding-bottom: 5px;


}

.modal-signin form input{
	font-size:1.4em;
	background: #656565;
	border: none;
	border-radius: 5px;
	padding:5px;
}

.modal-signin form .input{
	font-size:1.4em;
	background: transparent;
	border: 1px solid #585858;
	border-radius: 5px;
	padding:5px;
	color: white;
	margin-right: 50px;
	margin-left: 50px;
	cursor: pointer;

}

.modal-signin form .input:hover{
	background: #585858;

}


.modal-signin form .dont-acc{
	text-align: center;
	color: #1F7B81;
	margin-top: 60px;
}




/*обзоры*/


.back-views {

	
    position: absolute;
	top: 70px;
	background-image: url("../img/backpages.png");
		background-color: rgba(0,0,0,.7);
	background-repeat: repeat;
	background-position: center;
	width: 100%;
	mix-blend-mode: exclusion;
	height: 100vh;
	
}

.contents-views {
	margin:0 auto;
	margin-top: 40px;
	width: 1200px;
	border-radius: 5px;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	background: #2C2A2A;
}


.contents-views h3{
	color: white;
	padding-bottom: 40px;
}

.contents-views .container-create-view {
	display: flex;
	flex-direction: row;

	
}

.contents-views .container-create-view input{
	flex-grow: 3;
	margin-right: 5px;
	background: #3A3636;
	padding:10px;
	font-size: 1.2em;
	color: #6C6C6C;
	border:none;
	border-radius: 5px;
}
.contents-views .container-create-view button{
	flex-grow: 1;
	margin-left: 5px;
		border:none;
	border-radius: 5px;
	background: #7A7A7A;
	color:white;
	font-size: 18px;
	cursor: pointer;
	
}

.list-category-views {
	margin-top: 10px;
}

.contents-views a{
	padding:10px;
	padding-left: 20px;
	padding-right: 20px;
	background: #7A7A7A;
	text-decoration: none;
	border-radius: 5px;
	color: white;

}